<html>
    <head>
        <title>
            Vue Playground
        </title>

        <meta charset="UTF-8">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <div id="vueplayground">
           <ul>
               <li v-for="todo in list">
                   {{todo.text}}
               </li>
               
            </ul>
            
            <p v-if='seen'>{{ message }}</p>
            <input v-model="message">
            <button v-on:click="add">Add to List</button>
            
        </div>
        <script src="script.js"></script>

    </body>
</html>