<!DOCTYPE html>
<html>
    <head>
        <title>
            Vue Playground
        </title>

        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" media="all" href="style.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <ul>
                <li v-for="(msg, index) in msgList" v-bind:key="index">
                    {{ msg }}
                </li>
            </ul>
            <br>
            <input type="text" v-model="inputValue" placeholder="Enter Your Message Here...">
            <button v-on:click="addMsg()">Add to list</button>
        </div>

        <!-- Vue Script Here -->
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>