<!DOCTYPE html>
<html>
    <head>
        <title>
            Competency Grader Demo - 1
        </title>

        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" media="all" href="style.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <!-- HTML goes here -->
        </div>

        <!-- Vue Script Here -->
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>