<!DOCTYPE html>
<html>
    <head>
        <title>
            Competency Grader Demo - 1
        </title>

        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" media="all" href="style.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <!-- HTML goes here -->
            <h3>{{competencyData.full_code}} {{competencyData.competency_ename}} | {{competencyData.competency_cname}}</h3>
            <h4>Average Score: {{calculate[1]}}; Grade: {{calculate[0]}}</h4>
            <table>
                <tr v-for="(skillstrand, index) in competencyData.skillstrands">
                    <td>{{skillstrand.full_code + " " + skillstrand.competency_ename + " " + "| " + skillstrand.competency_cname}}</td>
                    <td v-for="(item, index) in buttons">
                        <button @click="getGrade(skillstrand, item)" :style="{ backgroundColor: backgroundColor[skillstrand.id.toString()+' '+item.toString()] }"> {{item}} </button>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Vue Script Here -->
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>